<html>
    <body>
      <div class="container">
              <table>
                <tr>
                  <td colspan="4"><input type="text" placeholder="0" [(ngModel)]="value" id="output-screen"> </td>
                </tr>
                <tr>               
                  <td><button (click)="display('+')">+</button></td>
                    <td><button (click)="display('-')">-</button></td>
                    <td><button (click)="display('*')">x</button></td>
                    <td><button (click)="display('/')">÷</button></td>               
                </tr>
                <tr>
                    <td><button (click)="display('7')">7</button></td>
                    <td><button (click)="display('8')">8</button></td>
                    <td><button (click)="display('9')">9</button></td>
                    <td  rowspan="4" ><button class="btn1" (click)="calculate()">=</button> </td>
                </tr>
                <tr>
                  <td><button (click)="display('4')">4</button></td>
                  <td><button (click)="display('5')">5</button></td>
                  <td><button (click)="display('6')">6</button></td>
                </tr>
                <tr>
                  <td><button (click)="display('1')">1</button></td>         
                  <td><button (click)="display('2')">2</button></td>
                  <td><button (click)="display('3')">3</button></td>                
                </tr>
                <tr>                 
                  <td><button (click)="display('0')">0</button></td>
                  <td><button (click)="display('.')">.</button></td>
                  <td><button  (click)="Clear()" class="btn">AC</button></td>                
                </tr>
              </table>     
      </div>
  </body>
</html>
<!-- 
<fa-icon [icon]="faFilm" class="film"></fa-icon>
<fa-icon [icon]="faUsers" class="user"></fa-icon>
<fa-icon [icon]="faHouseFlag" class="home"></fa-icon> -->


