<div class="container-fluid">
  <div class="row">
    <div class="man">
      <h1>Documents</h1>
      <h4>search document or select category</h4>
  </div>
  
</div>
  <div class="row">
      <div class="col-3">
          <div class="row">
              <ul class="done">
                <li><a class ='btn' style="cursor:pointer" (click)="All()">All</a></li>
                <li><a class ='btn' style="cursor:pointer" (click)="Financial()">Financial</a></li>
                <li><a class ='btn' style="cursor:pointer" (click)="Technical()">Technical</a></li>
                <li><a class ='btn' style="cursor:pointer" (click)="Marketing()">Marketing</a></li>
                <li><a class ='btn' style="cursor:pointer" (click)="Human()">Human Resources</a></li>
              </ul>
          </div>
      </div>
      <div class="col-9">
        <input type="text" placeholder="Start typing document name..." [(ngModel)]="search1">
        <div class="row">
            <div *ngFor="let e of (document | search:search1 | filter:filter1 )" class="card card-width" >
                <div class="card-body">
                    <b class="card-title"> {{e.type}} </b>
                    <p class="card-text">{{e.work}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
            